.idea/
.svn/
.settings/
*/.settings/
*/.idea/
.classpath
.project
*/.classpath
*/.project
.gradle/
.mvn/
mvnw
mvnw.cmd
*.iml
*/.DS_Store
HELP.md

target/
out/
*/out/
*/bin/
*/gen/
build/
*/testbin/
ext/
pp-other/ci/cioutput/citemp/

*.class
*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.apk

*.bak
*.tem
*.temp
